<menu-superior></menu-superior>
<div class="container">
    <div class="jumbotron">
        <h2>
            Relatórios
            <small class="text-muted">HelpDesk</small>
        </h2>
        <br>
        <form novalidate class="form-horizontal">
            <div class="form-group">
                <p class="col-sm-2 control-label"><span class="glyphicon glyphicon-search"></span> Pesquisar</p>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="procurar">Procurar:</label>
                <div class="col-sm-4">
                    <input type="text" id="procurar" name="procurar" ng-model="procurar" class="form-control" ng-minlength="4" ng-maxlength="7" ng-required="true" placeholder="Procurar...">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="dataDe">De:</label>
                <div class="col-sm-4">
                    <input name="data" id="dataDe" ng-model="vm.cadastro.dataDe" class="form-control" type="date" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="dataAte">Até:</label>
                <div class="col-sm-4">
                    <input name="data" id="dataAte" ng-model="vm.cadastro.dataAte" class="form-control" type="date">
                </div>
            </div>
        </form>
    </div>

</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('colaborador')">Colaborador</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'colaborador'">
                                <a ng-click="vm.filtrarConsulta(cadastro.colaborador)">{{cadastro.colaborador}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('entrada')">Entrada</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'entrada'">
                                <a ng-click="vm.filtrarConsulta(cadastro.entrada)">{{cadastro.entrada}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('origem')">Origem</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'origem'">
                                <a ng-click="vm.filtrarConsulta(cadastro.origem)">{{cadastro.origem}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('aplicacao')">Aplicação</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'aplicacao'">
                                <a ng-click="vm.filtrarConsulta(cadastro.aplicacao)">{{cadastro.aplicacao}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('device')">Device</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'device'">
                                <a ng-click="vm.filtrarConsulta(cadastro.device)">{{cadastro.device.nome}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('status')">Status</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'status'">
                                <a ng-click="vm.filtrarConsulta(cadastro.status)">{{cadastro.status}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('problema')">Problema</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'problema'">
                                <a ng-click="vm.filtrarConsulta(cadastro.problema)">{{cadastro.problema}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('idFreshdesk')">ID FreshDesk</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'idFreshdesk'">
                                <a ng-click="vm.filtrarConsulta(cadastro.idFreshdesk)">{{cadastro.idFreshdesk}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('idAluno')">ID Aluno</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'idAluno'">
                                <a ng-click="vm.filtrarConsulta(cadastro.idAluno)">{{cadastro.idAluno}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('data')">Data</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'data'">
                                <a ng-click="vm.filtrarConsulta(cadastro.data)">{{cadastro.data | date:'dd/MM/yyyy'}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('diagnostico')">Diagnóstico</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'diagnostico'">
                                <a ng-click="vm.filtrarConsulta(cadastro.diagnostico)">{{cadastro.diagnostico}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('resposta')">Resposta</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'resposta'">
                                <a ng-click="vm.filtrarConsulta(cadastro.resposta)">{{cadastro.resposta}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>
                    <div class="dropdown">
                        <span ng-click="vm.ordenar('observacoes')">Observações</span>&nbsp;
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cadastro in vm.cadastros | unique:'observacoes'">
                                <a ng-click="vm.filtrarConsulta(cadastro.observacoes)">{{cadastro.observacoes}}</a>
                            </li>
                            <li>
                                <a ng-click="vm.filtrarConsulta(null)">Todos</a>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cadastro in vm.cadastros | filter:procurar | filter:vm.filtrarColuna | orderBy:vm.sortKey:vm.reverse">
                <td>#</td>
                <td>{{cadastro.colaborador}}</td>
                <td>{{cadastro.entrada}}</td>
                <td>{{cadastro.origem}}</td>
                <td>{{cadastro.aplicacao}}</td>
                <td>{{cadastro.device.nome}}</td>
                <td>{{cadastro.status}}</td>
                <td>{{cadastro.problema}}</td>
                <td>{{cadastro.idFreshdesk}}</td>
                <td>{{cadastro.idAluno}}</td>
                <td>{{cadastro.data | date:'dd/MM/yyyy'}}</td>
                <td>{{cadastro.diagnostico}}</td>
                <td>{{cadastro.resposta}}</td>
                <td>{{cadastro.observacoes}}</td>
            </tr>
        </tbody>
    </table>
</div>
