<!DOCTYPE html>
<html lang="pt-br" ng-app="helpdesk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controllers/form-controller.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js"></script> <!-- Script do Angular Messages -->
	<link rel="stylesheet" href="/css/style.css">
	<title>HelpDesk</title>
</head>

<body ng-controller="formController as vm">
	<nav class="navbar navbar-inverse"> <!-- Inicio da Navbar -->
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">HelpDesk</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html">Início</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="consulta.html">Relatórios</a></li>
							<li><a href="#">Registros</a></li>
							<li><a href="#">Editor</a></li>
						</ul>
					</li>
					<li><a href="#">Banco de Dados</a></li>
					<li><a href="#">Estatisticas</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
				</ul>
			</div>
		</div>
	</nav> <!-- Fim da Navbar -->
	<div class="container">
		<div class="jumbotron">
			<h2>
				Cadastro de Atendimento
				<small class="text-muted">HelpDesk</small>
			</h2>
			<br>
			<form novalidate name="formulario" class="form" id="formulario" ng-submit="vm.submitForm()"> <!-- Inicio do Fomulário -->
				<div class="row">
					<div class="form-group col-sm-2">
						<label for="colaborador">Colaborador</label>
						<br>
						<select name="colaborador" id="colaborador" ng-class="varColaborador" ng-model="vm.cadastro.colaborador" ng-blur="!formulario.colaborador.$valid ? varColaborador='alteraFocoErro' : varColaborador=''" class="form-control" ng-required="true">
							<option disabled selected value>Selecione uma opção</option>
							<option>Adriano</option>
							<option>Iana</option>
							<option>Julia</option>
							<option>Pedro</option>
							<option>Vinicius</option>
							<option>Ygor</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="data">Data</label>
						<br>
						<input name="data" id="data" ng-class="varData" ng-model="vm.cadastro.data" ng-blur="!formulario.data.$valid ? varData='alteraFocoErro' : varData=''" class="form-control" type="date" ng-required="true">
					</div>
					<div class="form-group col-sm-2">
						<label for="idAluno">ID Aluno</label>
						<br>
						<input type="number" name="idAluno" id="idAluno" ng-class="varIdAluno" ng-model="vm.cadastro.idAluno" ng-blur="!formulario.idAluno.$valid ? varIdAluno='alteraFocoErro' : varIdAluno=''" class="form-control" ng-required="true" ng-minlength="4" ng-maxlength="7">
						<div class="mensagem-validacao" ng-messages="formulario.idAluno.$error" role="alert">
							<div ng-message="minlength">Curto demais</div>
							<div ng-message="maxlength">Longo demais</div>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="entrada">Entrada</label>
						<br>
						<select name="entrada" id="entrada" ng-class="varEntrada" ng-model="vm.cadastro.entrada" ng-blur="!formulario.entrada.$valid ? varEntrada='alteraFocoErro' : varEntrada=''" class="form-control" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>Demanda</option>
							<option>E-Mail</option>
							<option>Fresh Desk</option>
							<option>Spark</option>
							<option>Telefone</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="idFreshdesk">ID FreshDesk</label>
						<br>
						<input type="number" name="idFreshdesk" id="idFreshdesk" ng-class="varIdFreshdesk" ng-model="vm.cadastro.idFreshdesk" class="form-control" ng-minlength="4" ng-maxlength="7"  ng-disabled="vm.cadastro.entrada != 'Fresh Desk'" ng-blur="!formulario.idFreshdesk.$valid ? varIdFreshdesk='alteraFocoErro' : varIdFreshdesk=''" ng-required="vm.cadastro.entrada == 'Fresh Desk'">
						<div class="mensagem-validacao" ng-messages="formulario.idFreshdesk.$error" role="alert">
							<div ng-message="minlength">Curto demais</div>
							<div ng-message="maxlength">Longo demais</div>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="aplicacao">Aplicação</label>
						<br>
						<select name="aplicacao" id="aplicacao" ng-class="varAplicacao" ng-model="vm.cadastro.aplicacao" ng-blur="!formulario.aplicacao.$valid ? varAplicacao='alteraFocoErro' : varAplicacao=''" class="form-control" ng-required="true">
							<option disabled selected value>Selecione uma opção</option>
							<option>ÁREA RESTRITA</option>
							<option>CONCURSOS</option>
							<option>Institucional</option>
							<option>Material Impresso</option>
							<option>MEDELETRO</option>
							<option>MEDCODE</option>
							<option>MEDREADER</option>
							<option>MEDSOFT</option>
							<option>RECURSOS (SITE)</option>
							<option>RECURSOS (APP)</option>
							<option>Não informada</option>
							<option>Outra</option>
						</select>
					</div>
				</div> <!-- Fim da linha -->
				<br>
				<div class="row"> <!-- Inicio da linha -->
					<div class="form-group col-sm-2">
						<label for="device">Device</label>
						<br>
						<select class="form-control" name="device" id="device" ng-class="varDevice" ng-if="!formulario.aplicacao.$valid" ng-blur="!formulario.device.$valid ? varDevice='alteraFocoErro' : varDevice=''" ng-model="vm.cadastro.device">
							<option disabled selected value>Selecione a aplicação</option>
						</select>
						<select class="form-control" name="device" id="device" ng-if="vm.cadastro.aplicacao == 'ÁREA RESTRITA' || vm.cadastro.aplicacao == 'CONCURSOS' || vm.cadastro.aplicacao == 'RECURSOS (SITE)' || vm.cadastro.aplicacao == 'Institucional'" ng-model="vm.cadastro.device">
							<option disabled selected value>Selecione a aplicação</option>
							<option>Computador Mac</option>
							<option>Computador Windows</option>
							<option>iPad</option>
							<option>iPhone</option>
							<option>Smartphone Android</option>
							<option>Tablet Android</option>
							<option>Não informado</option>
							<option>Outro</option>
						</select>
						<select class="form-control" name="device" id="device" ng-if="vm.cadastro.aplicacao == 'Material Impresso'" ng-model="vm.cadastro.device">
							<option selected>Nenhum</option>
						</select>
						<select class="form-control" name="device" id="device" ng-if="vm.cadastro.aplicacao == 'MEDELETRO' || vm.cadastro.aplicacao == 'MEDCODE' || vm.cadastro.aplicacao == 'RECURSOS (APP)'" ng-model="vm.cadastro.device">
							<option disabled selected value>Selecione a aplicação</option>
							<option>iPad</option>
							<option>iPhone</option>
							<option>Smartphone Android</option>
							<option>Tablet Android</option>
							<option>Não informado</option>
							<option>Outro</option>
						</select>
						<select class="form-control" name="device" id="device" ng-if="vm.cadastro.aplicacao == 'MEDREADER'" ng-model="vm.cadastro.device">
							<option disabled selected value>Selecione a aplicação</option>
							<option>iPad</option>
							<option>iPhone</option>
							<option>Tablet Android</option>
							<option>Não informado</option>
							<option>Outro</option>
						</select>
						<select class="form-control" name="device" id="device" ng-if="vm.cadastro.aplicacao == 'MEDSOFT'" ng-model="vm.cadastro.device">
							<option disabled selected value>Selecione a aplicação</option>
							<option>Computador Windows</option>
							<option>iPad</option>
							<option>iPhone</option>
							<option>Smartphone Android</option>
							<option>Tablet Android</option>
							<option>Não informado</option>
							<option>Outro</option>
						</select>
						<select class="form-control" name="device" id="device" ng-if="vm.cadastro.aplicacao == 'Não informada' || vm.cadastro.aplicacao == 'Outra'" ng-model="vm.cadastro.device">
							<option selected>Outro</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="problema">Problema</label>
						<br>
						<input class="form-control" ng-class="varProblema" type="text" name="problema" id="problema" ng-model="vm.cadastro.problema" ng-blur="!formulario.problema.$valid ? varProblema='alteraFocoErro' : varProblema=''" ng-required="true" ng-minlenght="4" ng-maxlenght="255">
					</div>
					<div class="form-group col-sm-2">
						<label for="recorrente">Recorrente?</label>
						<br>
						<select name="recorrente" id="recorrente" ng-class="varRecorrente" ng-model="vm.cadastro.recorrente" ng-blur="!formulario.recorrente.$valid ? varRecorrente='alteraFocoErro' : varRecorrente=''" class="form-control" ng-required="true">
							<option disabled selected value>Selecione uma opção</option>
							<option>Sim</option>
							<option>Não</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="origem">Origem</label>
						<br>
						<select name="origem" id="origem" ng-class="varOrigem" ng-model="vm.cadastro.origem" ng-blur="!formulario.origem.$valid ? varOrigem='alteraFocoErro' : varOrigem=''" class="form-control" ng-required="true">
							<option disabled selected value>Selecione uma opção</option>
							<option>Aluno</option>
							<option>MEDGRUPO</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="abriuDemanda">Abriu Demanda?</label>
						<br>
						<select name="abriuDemanda" id="abriuDemanda" ng-class="varAbriuDemanda" ng-model="vm.cadastro.abriuDemanda" ng-blur="!formulario.abriuDemanda.$valid ? varAbriuDemanda='alteraFocoErro' : varAbriuDemanda=''" class="form-control" ng-required="true">
							<option disabled selected value>Selecione uma opção</option>
							<option>Sim</option>
							<option>Não</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label for="status">Status</label>
						<br>
						<select name="status" id="status" ng-model="vm.cadastro.status" ng-class="varStatus" ng-blur="!formulario.status.$valid ? varStatus='alteraFocoErro' : varStatus=''" class="form-control" ng-required="true">
							<option disabled selected value>Selecione uma opção</option>
							<option>Solucionado</option>
							<option>Pendente</option>
							<option>Parcial</option>
						</select>
					</div>
				</div> <!-- Fim da linha -->
				<div class="row"> <!-- Inicio da linha -->
					<div class="form-group col-sm-4">
						<label for="diagnostico">Diagnóstico</label>
						<br>
						<textarea name="diagnostico" ng-model="vm.cadastro.diagnostico" class="form-control" rows="2" id="diagnostico" ng-class="varDiagnóstico" ng-blur="!formulario.diagnostico.$valid ? varDiagnóstico='alteraFocoErro' : varDiagnóstico=''" placeholder="Razão de ter ocorrido o problema (por que esse problema ocorreu?)" ng-required="true"></textarea>
					</div>
					<div class="form-group col-sm-4">
						<label for="resposta">Resposta</label>
						<br>
						<textarea name="resposta" ng-model="vm.cadastro.resposta" class="form-control" rows="2" id="resposta" ng-class="varResposta" ng-blur="!formulario.resposta.$valid ? varResposta='alteraFocoErro' : varResposta=''" placeholder="Sua solução ou resposta para o aluno" ng-required="true"></textarea>
					</div>
					<div class="form-group col-sm-4">
						<label for="observacao">Observações</label>
						<br>
						<textarea name="observacao" ng-model="vm.cadastro.observacao" class="form-control" rows="2" id="observacao"  placeholder="Informações adicionais sobre o atendimento"></textarea>
					</div>
				</div> <!-- Fim da linha -->
				<br>
				<div class="btns">
					<button type="submit" class="btn btn-success" ng-disabled="!formulario.$valid">Enviar</button>
					<button type="reset" class="btn btn-primary" ng-click="vm.limpaCampos()">Limpar</button>
				</div>
			</form> <!-- Fim do Fomulário -->
		</div> <!-- Fim da Jumbotron -->
	</div> <!-- Fim da Container -->
</body>
</html>
