<!DOCTYPE html>
<html lang="pt=br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="../js/controllers/form-controller.js"></script>
	<link rel="stylesheet" href="../css/style.css">
	<title>HelpDesk</title>
</head>
<body ng-app="helpdesk" ng-controller="formController">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">HelpDesk</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Início</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Relatórios</a></li>
							<li><a href="#">Registros</a></li>
							<li><a href="#">Editor</a></li>
						</ul>
					</li>
					<li><a href="#">Banco de Dados</a></li>
					<li><a href="#">Estatisticas</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<form novalidate name="formulario" class="form" id="formulario" ng-submit="submitForm()">
				<div class="row">
					<h2>
						Cadastro de Atendimento
						<small class="text-muted">HelpDesk</small>
					</h2>
					<br>

					<div class="form-group col-sm-2">
						<label>Colaborador</label> <br>
						<select name="colaborador" ng-model="cadastro.colaborador" class="form-control" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>Adriano</option>
							<option>Iana</option>
							<option>Julia</option>
							<option>Pedro</option>
							<option>Vinicius</option>
							<option>Ygor</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label>Entrada</label> <br>
						<select name="entrada" ng-model="cadastro.entrada" class="form-control" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>Demanda</option>
							<option>E-Mail</option>
							<option>Fresh Desk</option>
							<option>Spark</option>
							<option>Telefone</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label>Origem</label> <br>
						<select name="origem" ng-model="cadastro.origem" class="form-control" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>Aluno</option>
							<option>MEDGRUPO</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label>Aplicação</label> <br>
						<select name="aplicacao" ng-model="cadastro.aplicacao" class="form-control" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>Área Restrita</option>
							<option>MedSoft</option>
							<option>MedCode</option>
							<option>MedReader</option>
							<option>MedEletro</option>
							<option>MedCode/MedSoft</option>
							<option>MedReader/MedCode</option>
							<option>MedSoft/MedReader</option>
							<option>Restrita/MedReader</option>
							<option>Restrita/MedCode</option>
							<option>Restrita/MedSoft</option>
							<option>Todos</option>
							<option>Não informado</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label>Device</label> <br>
						<select class="form-control" name="device" ng-model="cadastro.device" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>iPhone</option>
							<option>iPad</option>
							<option>Smartphone</option>
							<option>Tablet</option>
							<option>Computador Windows</option>
							<option>Computador Mac</option>
							<option>iPad/iPhone</option>
							<option>Smartphone/Tablet</option>
							<option>PC/iOS</option>
							<option>PC/Android</option>
							<option>Todos</option>
							<option>Não informado</option>
						</select>
					</div>
					<div class="form-group col-sm-2">
						<label>Status</label> <br>
						<select name="status" ng-model="cadastro.status" class="form-control" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>Solucionado</option>
							<option>Pendente</option>
							<option>Parcial</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group col-sm-3">
						<label>Problema</label> <br>
						<select name="problema" ng-model="cadastro.problema" class="form-control" ng-required="true">
							<option disabled selected value> Selecione uma opção </option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
							<option>XXXXXX</option>
						</select>
					</div>
					<div class="form-group col-sm-3">
						<label>ID FreshDesk</label> <br>
						<input type="number" name="idFreshdesk" ng-model="cadastro.idFreshdesk" class="form-control" ng-minlength="4" ng-maxlength="7">
					</div>
					<div class="form-group col-sm-3">
						<label>ID Aluno</label> <br>
						<input type="number" name="idAluno" ng-model="cadastro.idAluno" class="form-control" ng-required="true" ng-minlength="4" ng-maxlength="7">
					</div>
					<div class="form-group col-sm-3">
						<label>Data</label> <br>
						<input name="data" ng-model="cadastro.data" class="form-control" type="date" ng-required="true">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="diagnostico">Diagnóstico</label> <br>
						<textarea name="diagnostico" ng-model="cadastro.diagnostico" class="form-control" rows="2" id="diagnostico" placeholder="Problema que o aluno relatou e você identificou" ng-required="true"></textarea>
					</div>
					<div class="form-group col-sm-4">
						<label for="resposta">Resposta</label> <br>
						<textarea name="resposta" ng-model="cadastro.resposta" class="form-control" rows="2" id="resposta" placeholder="Sua solução ou resposta para o aluno" ng-required="true"></textarea>
					</div>
					<div class="form-group col-sm-4">
						<label for="observacao">Observações</label> <br>
						<textarea name="observacao" ng-model="cadastro.observacao" class="form-control" rows="2" id="observacao" placeholder="Informações úteis sobre o atendimento"></textarea>
					</div>
				</div>
				<br>
				<div class="btns">
					<button type="submit" class="btn btn-success" ng-disabled="!formulario.$valid">Enviar</button>
					<button type="reset" class="btn btn-primary" ng-click="refresh()">Limpar</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
