body {
  font-family: Arial;
}
textarea {
  resize: none;
}
.form-control {
  font-size: 0.9em;
}
/* Tamanho da fonte dentro dos formulários */
.form-group {
  text-align: center;
  font-size: 1em;
}
.jumbotron {
  box-shadow: 1px 1px 20px 1px grey;
}
h2 {
  font-family: Impact;
}
p {
  font-family: 'Roboto Condensed', sans-serif;
}
.glyphicon-search {
  font-size: 0.8em;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.btns {
  text-align: center;
}
/* Removendo os Spinners */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Removendo os Spinners do Firefox */
input[type=number] {
-moz-appearance: textfield;
}
/* botão OK da tela de consulta, espaçamento para o lado esquerdo */
#btnSubmit-consulta {
  /*margin-left: 10px;*/
  width: 100%;
}
.table-responsive, th {
  text-align: center;
}

.mensagem-validacao {
  color: maroon;
}
